/* CSS Document */
@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://fonts.googleapis.com/css?family=Bree+Serif";
/* Giving a background-color to the nav container. */
/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */
/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
/* Positioning the navigation items inline */
/* Styling the links */
/* Background color change on Hover */
/* Hide Dropdowns by Default
 * and giving it a position of absolute */
/* Display Dropdowns on Hover */
/* Fisrt Tier Dropdown */
/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
/* Change ' +' in order to change the Dropdown symbol */
/* Media Queries
--------------------------------------------- */
/* Hide the navigation menu by default */
/* Also hide the  */
/* Stylinf the toggle lable */
/* Display Dropdown when clicked on Parent Lable */
/* Change menu item's width to 100% */
/* Hide Dropdowns by Default */
/* Hide menus on hover */
/* Fisrt Tier Dropdown */
body {
    background: #212121;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    font-family: "Bree Serif", "serif";
}
h3 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    a {
        color: #fff;
    }
}
a {
    color: #fff;
}
#container {
    margin: 0 auto;
    max-width: 890px;
}
p {
    text-align: center;
}
.toggle {
    display: none;
}
[id^="drop"] {
    display: none;
}
nav {
    margin: 0;
    padding: 0;
    background-color: #254441;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        li {
            margin: 0px;
            display: inline-block;
            float: left;
            background-color: #254441;
            color: white;
            ul {
                li {
                    &:hover {
                        background: #000000;
                    }
                }
            }
            &:hover {
                > ul {
                    display: inherit;
                }
            }
        }
        ul {
            display: none;
            position: absolute;
            top: 60px;
            li {
                width: 170px;
                float: none;
                display: list-item;
                position: relative;
            }
            ul {
                li {
                    position: relative;
                    top: -60px;
                    left: 170px;
                }
            }
        }
    }
    a {
        display: block;
        padding: 14px 20px;
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        &:hover {
            background-color: #000000;
        }
    }
}
#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}
li {
    > a {
        &:after {
            content: " \002304";
        }
        &:only-child {
            &:after {
                content: "";
            }
        }
    }
}
@media all and (max-width: 768px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }
    nav {
        margin: 0;
        ul {
            li {
                display: block;
                width: 100%;
                ul {
                    li {
                        .toggle {
                            padding: 14px 20px;
                            color: #fff;
                            font-size: 17px;
                            background-color: #212121;
                        }
                    }
                }
                &:hover {
                    > ul {
                        display: none;
                    }
                }
            }
            ul {
                .toggle {
                    padding: 0 40px;
                }
                a {
                    padding: 0 40px;
                    padding: 14px 20px;
                    color: #fff;
                    font-size: 17px;
                    background-color: #212121;
                }
                ul {
                    a {
                        padding: 0 80px;
                        background-color: #000000;
                        padding: 14px 20px;
                        color: #fff;
                        font-size: 17px;
                    }
                    li {
                        position: static;
                    }
                }
                float: none;
                position: static;
                color: #ffffff;
                li {
                    &:hover {
                        > ul {
                            display: none;
                        }
                    }
                    display: block;
                    width: 100%;
                }
            }
        }
        a {
            &:hover {
                background-color: #000000;
            }
        }
    }
    .toggle {
        + {
            a {
                display: none;
            }
        }
        display: block;
        background-color: #254441;
        padding: 14px 20px;
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        border: none;
        &:hover {
            background-color: #000000;
        }
    }
    .menu {
        display: none;
    }
    [id^="drop"] {
        &:checked {
            + {
                ul {
                    display: block;
                }
            }
        }
    }
}
@media all and (max-width: 330px) {
    nav {
        ul {
            li {
                display: block;
                width: 94%;
            }
        }
    }
}
