// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$social-og-name: 'social-og';
$social-og-x: 0px;
$social-og-y: 0px;
$social-og-offset-x: 0px;
$social-og-offset-y: 0px;
$social-og-width: 1280px;
$social-og-height: 640px;
$social-og-total-width: 2780px;
$social-og-total-height: 640px;
$social-og-image: 'res/sprite.png';
$social-og: (0px, 0px, 0px, 0px, 1280px, 640px, 2780px, 640px, 'res/sprite.png', 'social-og', );
$twitter-banner-name: 'twitter-banner';
$twitter-banner-x: 1280px;
$twitter-banner-y: 0px;
$twitter-banner-offset-x: -1280px;
$twitter-banner-offset-y: 0px;
$twitter-banner-width: 1500px;
$twitter-banner-height: 500px;
$twitter-banner-total-width: 2780px;
$twitter-banner-total-height: 640px;
$twitter-banner-image: 'res/sprite.png';
$twitter-banner: (1280px, 0px, -1280px, 0px, 1500px, 500px, 2780px, 640px, 'res/sprite.png', 'twitter-banner', );
$spritesheet-width: 2780px;
$spritesheet-height: 640px;
$spritesheet-image: 'res/sprite.png';
$spritesheet-sprites: ($social-og, $twitter-banner, );
$spritesheet: (2780px, 640px, 'res/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
